@import "./Styles";
@import url('https://fonts.googleapis.com/css2?family=Seaweed+Script&display=swap');


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.navbar-1 {

  
  .ccontainer {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
     &> * {
      padding: 5px 7px 0px 7px;
      font-size: 12px;
        color: rgb(103, 103, 103);
    }
  }
  .social {
    padding: 30px 0px 30px 15px;

  }

  width: 83%;
  @include xl {
    width: 95%;
  }
  @include md {
    // margin-bottom: 12px;
    padding: 10px 10px 12px 10px;
    width: 100%;
    box-sizing: border-box;
  }
  // height: 100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  top: 0;
  left: 0;
  // background-color: gray;
  // @include md {
  //   width: 90%;
  // }

  h1 {
    font-size: $font-size-lg ;
    @include md {
      font-size: 1.1em;
      padding-left: 10px;
    }

    
    font-weight: lighter;
    color: rgb(152, 150, 150);
    
  }
  
  ul {
    // background-color: rgb(207, 207, 207);
    display: flex;
    justify-content: space-between;
    li {
      padding: 30px 0px 30px 30px;
      
      @include md {
      padding: 25px 0px 20px 10px;
        font-size: 0.875rem;
      }
      

      a {
        transition: .3s;
        color: rgb(152, 150, 150);
        &:hover {
          color: rgb(237, 140, 5);
          text-decoration: underline;
        }
      }
    }
  }

  h2 {
    font-size: 30px;
    padding: 10px 10px 0px 0px;
  }

  .bars-container {
    background-color: white;
    position: absolute;
    z-index: 10;
    top: 60px;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    // justify-content: space-around;
    color: rgb(167, 167, 167);
    a {
      padding: 20px;
      font-size: 1em;
    }

    .container {
      display: flex;
      max-width: 800px;
      text-align: center;
      justify-content: center;
      align-items: center;
      padding: 25px;
       &> * {
        padding: 0px 10px 0px 10px;
        font-size: 15px;
        color: rgb(51, 51, 51);
      }
    }
  }
}

// footer {
//   width: 100%;
//   position: relative;
//   bottom: 0;
//   left: 0;
//   text-align: center;


//   div {
//   width: 83%;
//   margin: 0 auto;
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding: 30px 0;
//   @include xl {
//     width: 95%;
//   }

//   @include md {
//    flex-direction: column;
//   justify-content: center;
//   padding: 12px 0;

//   }
//   }

//   p {
//     color: lightgray;
//     // padding: 30px 0px 30px 20px;
//     font-size: $font-size-sm;

//     @include md {
//   font-size: $font-size-sm;
//   padding-top: 7px;
//     }
//   }
// }

.footer {
  text-align: center;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: relative;

  #back {
    position: absolute;
    left: 5%;
    top: 20%;
    font-size: $base-font-size;
    .goback {
      opacity: 0;
      display: flex;
    }
    .show {
      opacity: 1;
    }
  }
  
  .container {
    display: flex;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    align-items: center;
     &> * {
      padding: 100px 5px 5px 20px;
      font-size: 22px;
      color: rgb(51, 51, 51);
    }
  }

 @include xs {
  .container {
    display: flex;
    max-width: 800px;
    text-align: center;
    justify-content: center;
    align-items: center;
     &> * {
      padding: 100px 5px 5px 20px;
      font-size: 22px * .8;
    }
  }
 }
}

.flex-container {
  width: 85%;
  // height: 1014px;
  margin: 0 auto;
  // background-color: gray;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  @include xl {
    width: 95%;
  }
  @include md {
    width: 95%;
  }

  .flex-item {
    // background-color: lightgray;
    flex-basis: 49.5%;
    margin-bottom: 2%;
    @include md {
      flex-basis: 100%;
    }

    img {
      // height: 382px;
      width: 100%;
      flex-grow: 1;
      object-fit: cover;
      transition: .4s;
      // max-height: 400px;

      &:hover {
        filter: brightness(75%);
      }
    }
    p {
      line-height: 2.5em;
      font-size: 1.1em;
      font-weight: 500;
      color: rgb(169, 169, 169);
    }
  }
}

// gallery layout 

.sub-container {
  position: relative;
  column-count: 3;
  text-align: center; 
  padding: 0 0px; 
  width: 100%;
  column-gap: 10px;
  margin: auto;
  width: 85%;
  

  @include xl {
    width: 95%;
  }
  @include maxMQ(768px) {
    column-count: 2;
  }
  
  @include maxMQ(450px) {
    column-count: 1;
    // padding: 20px;
  }

  .image {
    display: inline-block;
    overflow: hidden;
    position: relative;
    text-align: center;
    a {
      @include maxMQ(450px) {
        pointer-events: none;
      }
    }
    
    h1{
      z-index: 2;
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      font-size: 20px;
      width: 100%;
      height: 26px;
      padding: 0;
      margin: 0;
      margin-top: -13px; /* 1/2 height */
      text-align: center;
      color: white;      
      opacity: 0;
      transition: 0.4s ease-out;
      font-size: 25px;
      font-weight: 400;
     }
  }

  img {
    width: 100%;
    transition: 0.4s ease-out;
  }

  .image:hover img {
    filter: brightness(85%);
    @include maxMQ(768px) {
      filter: brightness(100%);
    }
  }

  .image:hover {
    h1 {
      opacity: 1;
      @include maxMQ(768px) {
        opacity: 0;
      }
      
    }
  }
}

/* modal */
.backdrop{
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
  // background-color: white;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
.modal{
  position: relative;
  width: fit-content;
  // height: 95%;
  // margin: 0 auto;
  // padding: 40px 20px;
  background: white;
  border-radius: 4px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

p {
  // padding-top: 10px;
  font-size: 1.3em;
}

img {
  border-radius: 4px;
  width: auto;
  max-height: 650px;
  height: 90%;
  padding: 5px 5px 0px 5px;
}
}

// About page 
.about {
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 10px;
  text-align: center;
  gap: 20px 60px;
  padding-bottom: 40px;

  .div1 {
    width: auto;
    img {
      width: 540px;
    
    @include maxMQ(1036px) {
      width: 92%;
    }
    @include maxMQ(600px) {
      width: 92%;
      padding: 0 10px 10px 10px;
    }
  }
  }

  .div2 {
    min-width: 400px;
    width: 35%;
    text-align: left;
    font-size: 12px;
    line-height: 20px;

    @include maxMQ(1036px) {
      width: 70%;
      max-width: 500px;
    }
    @include maxMQ(600px) {
      width: 90%;
      min-width: 330px;
    }
  }

  p {
    color: #777;
  }

  b {
    color: #666;
  }
}




